<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Klinika Demo</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
</head>
<body>
<header>
    <h1>Klinika</h1>
    <img src="/images/logo.png" alt="Logo Kliniki">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>">Strona główna</a></li>
        <li><a href="/doctors" class="<%= navLocation === 'doctor' ? 'active' : ''%>">Lekarze</a></li>
        <li><a href="/patients/" class="<%= navLocation === 'patient' ? 'active' : ''%>">Pacjenci</a></li>
        <li><a href="/specializations/" class="<%= navLocation === 'specialization' ? 'active' : ''%>">Specjalizacje</a></li>
        <li><a href="/appointments/" class="<%= navLocation === 'appointment' ? 'active' : ''%>">Wizyty</a></li>
    </ul>
</nav>