<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('specializations.list.pageTitle') %></h2>
    <p><%= __('specializations.list.noData') %></p>
    <p><a href="/specializations/add" class="button-add"><%= __('specializations.list.addNew') %></a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>