<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('patients.list.pageTitle') %></h2>
    <p><%= __('patients.list.noData') %></p>
    <p><a href="/patients/add" class="button-add"><%= __('patients.list.addNew') %></a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>