<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationDoctorForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="validateForm();">
        <input type="hidden" name="_id" value="<%= doctor._id %>">

        <label for="firstName">Imię: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków" value="<%= doctor.firstName %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : ''%>"/>
        <span id="errorFirstName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
        </span>

        <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" value="<%= doctor.lastName %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : ''%>"/>
        <span id="errorLastName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>

        <label for="email">Email: </label>
        <input type="email" name="email" id="email" placeholder="Email np. tomasz@gmail.com" value="<%= doctor.email %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : ''%>">
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
        </span>

        <label for="specializationId">Specjalizacja: <span class="symbol-required">*</span></label>
        <select name="SpecializationId" id="specializationId" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
            <% if(formMode !=='edit'){%>
            <option value="" selected>---Wybierz specjalizację---</option>
            <%}%>

            <% for(let i =0; i<allSpec.length;i++) { let spec = allSpec[i];%>
            <option value="<%= spec._id%>" label="<%= spec.specializationName%>"
                    <%= (doctor._id && spec._id.toString() == doctorBefore.Specialization._id.toString()) ? 'selected' : ''%>></option>
            <%}%>
        </select>

        <span id="errorSpecialization" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('specializationId'))) { %>
                <%= validationErrors.find(e => e.path.includes('specializationId')).message %>
            <% } %>
        </span>

        <label for="password">Hasło: <span class="symbol-required">*</span></label>
        <input type="password" name="password" id="password" placeholder="Hasło do konta" value="<%= doctor.password %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : ''%>">
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                <%= validationErrors.find(e => e.path.includes('password')).message %>
            <% } %>
        </span>

        <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/doctors/edit/<%= doctorBefore._id %>" class="form-button-edit">Edytuj</a>
            </div>
        <% } %>
        <span id="errorsSummary" class="errors-text">
            <% if(validationErrors.length !== 0) {%>
                <%= "Formularz zawiera błędy"%>
            <%}%>
        </span>
        <div class="form-buttons">
            <% if (formMode != 'showDetails') { %>
            <input type="submit" value="<%=btnLabel%>" class="form-button-submit"/>
            <a href="/doctors/" class="form-button-cancel">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/doctors/">Powrót</a>
            <%}%>
        </div>
    </form>

    <% if (formMode == 'showDetails' || formMode == 'edit') { %>
        <h2>Szczegóły wizyt</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Data wizyty</th>
                <th>Recepta</th>
                <th>Dokumentacja wizyty</th>
            </tr>
            </thead>
            <tbody>
            <% if(doctorBefore.Appointments.length === 0) {%>
                <tr>
                    <td colspan="3">Brak wizyt dla wybranego lekarz</td>
                </tr>
                <% } %>
            <% for (let d of doctorBefore.Appointments) { %>
                <tr>
                    <td><a href="/appointments/details/<%= d._id %>"><%= d.visitDate%></a></td>
                    <td><%= d.prescription %></td>
                    <td><% d.visitDescription %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</main>
<%- include('../../fragments/footer.ejs') %>