<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationAppointmentForm.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
        <input type="hidden" name="_id" value="<%= appointment._id %>">

        <label for="visitDate">Data wizyty: <span class="symbol-required">*</span></label>
        <input type="text" name="visitDate" id="visitDate" placeholder="YYYY-MM-DD" value="<%= appointment.visitDate %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('visitDate')) ? 'error-input' : ''%>">
        <span id="errorVisitDate"></span>

        <label for="doctorId">Lekarz przyjmujący: <span class="symbol-required">*</span></label>
        <select name="DoctorId" id="doctorId" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('doctorId')) ? 'error-input' : ''%>">
            <option value="" selected>---Wybierz lekarza---</option>
            <% for(let i =0; i<allDoctors.length;i++) { let doc = allDoctors[i];%>
            <option value="<%= doc._id%>" label="<%= doc.firstName+' '+doc.lastName%>"
                    <%= (appointment._id && doc._id.toString() == appointment.Doctor._id.toString()) ? 'selected' : ''%>></option>
            <%}%>
        </select>
        <span id="errorDoctor"></span>

        <label for="patientId">Pacjent: <span class="symbol-required">*</span></label>
        <select name="PatientId" id="patientId" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('patientId')) ? 'error-input' : ''%>">
            <option value="" selected>---Wybierz pacjenta---</option>
            <% for(let i =0; i<allPatients.length;i++) { let patient = allPatients[i];%>
            <option value="<%= patient._id%>" label="<%= patient.firstName+' '+patient.lastName%>"
                    <%= (appointment._id && patient._id.toString() == appointment.Patient._id.toString()) ? 'selected' : ''%>></option>
            <%}%>
        </select>
        <span id="errorPatient"></span>

        <label for="prescription">Recepta: </label>
        <input type="text" name="prescription" id="prescription" placeholder="Treść recepty" value="<%= appointment.prescription %>" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('prescription')) ? 'error-input' : ''%>">
        <span id="errorPrescription"></span>

        <label for="visitDescription">Opis wizyty: </label>
        <textarea id="visitDescription" name="visitDescription" rows="5" cols="40" placeholder="Treść opisu wizyty" <%= (formMode == 'showDetails') ? 'disabled' : ''%> class="<%= validationErrors.find(e => e.path.includes('visitDescription')) ? 'error-input' : ''%>"><%= appointment.visitDescription %></textarea>
        <span id="errorVisitDescription"></span>

        <% if (formMode == 'showDetails') { %>
            <div class="section-buttons">
                <a href="/appointments/edit/<%= appointment._id %>" class="form-button-edit">Edytuj</a>
            </div>
        <% } %>

        <span id="errorsSummary" class="errors-text"></span>

        <div class="form-buttons">

            <% if (formMode != 'showDetails') { %>
            <input type="submit" value="<%=btnLabel%>" class="form-button-submit"/>
            <a href="/appointments/" class="form-button-cancel">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/appointments/">Powrót</a>
            <%}%>
        </div>
    </form>
</main>
<%- include('../../fragments/footer.ejs') %>