<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Lista wizyt</h2>
  <table class="table-list">
    <tr>
      <th>Data wizyty</th>
      <th>Lekarz</th>
      <th>Pacjent</th>
      <th>Akcje</th>
    </tr>
    <tbody>
    <% for(let appointment of appointments){%>
    <tr>
      <td><%= appointment.visitDate.toString().replace(':00 GMT+0200 (Central European Summer Time)','') %></td>
      <td><%= appointment.Doctor.firstName+' '+appointment.Doctor.lastName%></td>
      <td><%= appointment.Patient.firstName+' '+appointment.Patient.lastName%></td>
      <td>
        <ul class="list-actions">
          <li>
            <a href="/appointments/details/<%=appointment._id%>" class="list-actions-button-details">Szczegóły</a>
          </li>
          <li>
            <a href="/appointments/edit/<%=appointment._id%>" class="list-actions-button-edit">Edytuj</a>
          </li>
          <li>
            <a href="/appointments/delete/<%=appointment._id%>" class="list-actions-button-delete">Usuń</a>
          </li>
        </ul>
      </td>
    </tr>
    <%}%>
    </tbody>
  </table>
  <p><a href="/appointments/add" class="button-add">Dodaj nową wizytę</a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>