<%- include('../../fragments/header.ejs') %>
<main>
  <h2><%= __('appointments.list.pageTitle') %></h2>
  <table class="table-list">
    <tr>
      <th><%= __('appointments.fields.visitDate') %></th>
      <th><%= __('appointments.fields.doctor') %></th>
      <th><%= __('appointments.fields.patient') %></th>
      <th><%= __('list.actions.title') %></th>
    </tr>
    <tbody>
    <% for(let appointment of appointments){%>
    <tr>
      <td><%= appointment.visitDate %></td>
      <% if(appointment.Doctor !== null) { %>
      <td><%= appointment.Doctor.firstName+' '+appointment.Doctor.lastName%></td>
        <%} else{%>
      <td><%= __('appointments.list.noDoctor') %></td>
      <%}%>
      <% if(appointment.Patient !== null) { %>
      <td><%= appointment.Patient.firstName+' '+appointment.Patient.lastName%></td>
      <%} else{%>
        <td><%= __('appointments.list.noPatient') %></td>
      <%}%>
      <td>
        <ul class="list-actions">
          <li>
            <a href="/appointments/details/<%=appointment._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
          </li>
          <li>
            <a href="/appointments/edit/<%=appointment._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
          </li>
          <li>
            <a href="/appointments/delete/<%=appointment._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
          </li>
        </ul>
      </td>
    </tr>
    <%}%>
    </tbody>
  </table>
  <p><a href="/appointments/add" class="button-add"><%= __('appointments.list.addNew') %></a> </p>
</main>
<%- include('../../fragments/footer.ejs') %>